# Guided Capstone Step 6. Documentation

**The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.  Modeling

6.   **Documentation**
  * Review the Results
  * Finalize Code 
  * Finalize Documentation
  * Create a Project Report 
  * Create a Slide Deck for the Executive Audience

In this guided capstone we are going to revisit many of the actions we took in the previous guided capstone steps. This gives you the opportunity to practice the code you wrote to solve the questions in step 4 and 5.

**<font color='teal'> Start by loading the necessary packages and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [4]:
import pandas as pd
import numpy as np
from sklearn import datasets
import os
from sklearn.model_selection import train_test_split

os.getcwd()
df = pd.read_csv(r'C:\\Users\\emanu\\data\\step3_output.csv')

In [5]:
df = df.drop('Unnamed: 0',axis = 1)

## Fit Models with Training Dataset

**<font color='teal'> Using sklearn fit the model you chose in Guided Capstone 5 on your training dataset. This includes: creating dummy features for states if you need them, scaling the data,and creating train and test splits before fitting the chosen model.Also, remember to generate a model performance score(MAE, or explained variance) based on the testing hold-out data set.</font>**

#### Best Model

In [6]:
df = pd.concat([df.drop('state', axis=1), pd.get_dummies(df['state'])], axis=1)

In [7]:
df = df.iloc[:, 1:24]

In [8]:
from sklearn import preprocessing

In [9]:
X = df.drop('AdultWeekend', axis=1)

In [10]:
X

,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,...,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,projectedDaysOpen,NightSkiing_ac
0,2600,1540,0,0,0,0,0,0,4,0,...,1,2.0,640,60,45,44,350,47.0,90,90
1,2090,294,0,0,0,0,0,1,0,2,...,1,1.0,30,30,150,36,69,30.0,152,30
2,11100,1800,0,0,0,1,2,3,1,0,...,2,1.2,800,80,115,49,250,74.0,104,80
3,7800,600,0,0,0,0,0,1,3,1,...,2,0.4,88,88,110,84,300,47.0,107,107
4,7700,500,0,0,0,1,1,3,1,2,...,6,1.0,380,200,150,54,400,49.0,150,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,8000,640,0,0,0,0,0,0,1,1,...,1,0.6,92,32,121,61,80,48.0,95,95
175,7428,810,0,0,0,0,0,1,1,1,...,1,1.0,184,18,61,81,310,42.0,77,77
176,7808,1571,0,0,0,0,1,1,1,0,...,2,1.0,400,250,121,80,300,59.0,123,110
177,9663,990,0,0,0,0,0,1,3,1,...,2,0.7,75,30,131,59,250,49.0,49,49
178,9500,1100,0,0,0,0,0,2,0,0,...,25,0.4,370,370,370,81,150,150.0,49,49

In [11]:
y = df.AdultWeekend

scaler = preprocessing.StandardScaler().fit(X)

X_scaled = scaler.transform(X)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

y_train

153    75.0
44     68.0
173    60.0
33     45.0
18     65.0
       ...
133    65.0
137    67.0
72     49.0
140    40.0
37     46.0
Name: AdultWeekend, Length: 134, dtype: float64

In [13]:
#all third model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

In [14]:
X_scaled

array([[-0.31488563,  1.219277  ,  0.        , ..., -0.23913336,
        -0.35322889,  0.18826258],
       [-0.47525691, -0.92729189,  0.        , ..., -0.54847759,
         1.61569838, -1.16420573],
       [ 2.35796893,  1.66719667,  0.        , ...,  0.25217807,
         0.09136759, -0.0371488 ],
       ...,
       [ 1.32278808,  1.27268281,  0.        , ..., -0.02077272,
         0.69474853,  0.63908535],
       [ 1.90609928,  0.27175462,  0.        , ..., -0.20273992,
        -1.65526144, -0.7359241 ],
       [ 1.85484337,  0.46125909,  0.        , ...,  1.63512876,
        -1.65526144, -0.7359241 ]])

In [20]:
df1 = X
#df1 = df1.drop('AdultWeekend', axis = 1)

In [21]:
df1

,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,...,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,projectedDaysOpen,NightSkiing_ac
0,2600,1540,0,0,0,0,0,0,4,0,...,1,2.0,640,60,45,44,350,47.0,90,90
1,2090,294,0,0,0,0,0,1,0,2,...,1,1.0,30,30,150,36,69,30.0,152,30
2,11100,1800,0,0,0,1,2,3,1,0,...,2,1.2,800,80,115,49,250,74.0,104,80
3,7800,600,0,0,0,0,0,1,3,1,...,2,0.4,88,88,110,84,300,47.0,107,107
4,7700,500,0,0,0,1,1,3,1,2,...,6,1.0,380,200,150,54,400,49.0,150,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,8000,640,0,0,0,0,0,0,1,1,...,1,0.6,92,32,121,61,80,48.0,95,95
175,7428,810,0,0,0,0,0,1,1,1,...,1,1.0,184,18,61,81,310,42.0,77,77
176,7808,1571,0,0,0,0,1,1,1,0,...,2,1.0,400,250,121,80,300,59.0,123,110
177,9663,990,0,0,0,0,0,1,3,1,...,2,0.7,75,30,131,59,250,49.0,49,49
178,9500,1100,0,0,0,0,0,2,0,0,...,25,0.4,370,370,370,81,150,150.0,49,49

In [22]:
model.predict(df1)

array([ 2.96891126e+03, -4.15988235e+03, -2.53161970e+04, -2.19638332e+04,
       -2.27623615e+04, -2.09443367e+04, -2.09725703e+04, -1.69971443e+04,
       -1.33238994e+04, -1.48191178e+04, -1.76492143e+04, -1.72640044e+04,
       -1.78253453e+04, -2.00374085e+04, -1.93909438e+04, -3.27674540e+04,
       -3.21533125e+04, -2.30496461e+04, -1.93608216e+04,  5.29291315e+01,
        4.19096445e+03,  3.43878758e+03,  3.60582516e+03,  1.68523713e+03,
       -1.27203419e+04, -1.13800427e+04, -2.01485287e+04, -1.48930215e+04,
       -1.33115448e+03, -1.66787607e+04,  1.58155775e+03,  3.27204530e+02,
        1.77205707e+03,  7.25206788e+02,  2.45992588e+03, -1.94244359e+03,
        3.23152611e+02,  1.29106738e+03,  3.57346225e+03,  1.29777732e+03,
        3.16874055e+02,  2.27786537e+03,  4.92681219e+03, -3.72248028e+03,
        4.00405494e+03, -2.17858094e+03, -2.48944757e+03,  3.92825594e+03,
        1.43010479e+03,  2.75850429e+02,  2.40750570e+03, -6.59151797e+02,
       -5.71463208e+02,  9.37920245e+03,  9.74547243e+02,  7.00465489e+02,
        1.93156275e+02,  3.26088369e+03,  2.95248766e+02, -1.56157272e+03,
       -1.29646838e+03,  1.33331674e+03,  1.59910401e+02,  5.50104696e+03,
       -1.63603343e+03, -7.14865902e+02, -1.74422980e+03, -8.75292397e+01,
       -1.57794654e+03, -9.85143255e+02,  1.03982521e+03,  3.00603067e+03,
       -4.63686154e+03,  1.06182030e+01, -1.64964756e+04, -8.03875810e+03,
       -1.90095619e+04, -1.72292380e+04, -3.15750927e+04,  7.17691773e+03,
        1.09720866e+03,  8.37802477e+03,  2.17174951e+03,  4.88011024e+03,
        1.27409283e+03,  4.35039811e+03,  2.81931763e+03,  3.10905239e+03,
       -3.48479719e+02,  3.59025253e+03,  1.30710726e+03, -2.15080124e+04,
       -3.41403439e+04, -2.63834011e+04, -2.31507276e+04, -2.41303075e+04,
       -2.88600868e+04,  3.57154500e+03,  1.27919462e+03,  4.96004477e+03,
        1.13868543e+03, -1.44239290e+03, -5.47611726e+02,  1.42347046e+02,
        1.69351947e+02, -2.88469467e+03,  3.19932868e+02, -2.14677207e+03,
       -2.75617277e+03, -3.30384743e+02, -1.00594346e+03,  7.92344339e+02,
        1.70764637e+03,  2.51431826e+03,  4.36448065e+02,  4.14237442e+03,
       -7.57636322e+01, -1.00056008e+04, -1.24982434e+04, -9.03518845e+03,
       -9.75452785e+03, -2.12461676e+03,  9.47537417e+02, -1.40094707e+03,
       -1.44668442e+03, -2.31411991e+04, -1.00480191e+04, -1.76564517e+04,
        2.48116023e+03, -1.10707952e+03, -1.91278281e+03,  5.76517919e+02,
       -5.05025901e+02, -5.61071614e+02, -1.72395161e+03,  2.78255890e+03,
       -2.49397835e+03,  3.37960244e+03,  2.22705898e+03, -7.22703086e+02,
        2.50930431e+03, -1.68716534e+04, -5.70663503e+03, -1.86628629e+04,
       -1.15405428e+04, -1.44815173e+04,  3.14249835e+03,  1.49140341e+03,
        5.68972702e+03,  1.24190816e+04,  3.53952616e+03,  2.45695728e+03,
        7.47370063e+03,  2.39896968e+03, -7.29440203e+02, -4.08798409e+03,
        1.63029027e+04, -1.11586426e+04, -8.01694082e+03, -7.14155085e+03,
       -5.14022144e+03, -6.24172321e+03, -7.19316688e+02,  1.15231475e+03,
       -2.18012568e+03, -1.87816966e+03, -1.15144104e+03, -1.66970577e+03,
        2.22090950e+03,  1.75439874e+03, -8.46899444e+02, -3.76418635e+01,
       -1.41983057e+03, -1.36248918e+03, -2.23746407e+04, -1.95868551e+04,
       -1.51063461e+04, -2.63981753e+04, -2.18657458e+04])

In [23]:
#now we can try a random forest model for comparison of accuracy
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier (n_estimators = 10, criterion = 'entropy', random_state = 0)
forest.fit(X_train.astype('int'), y_train.astype('int'))

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [24]:
forest_stats = forest.fit(X_train.astype('int'), y_train.astype('int'))

In [25]:
#Get the accuracy of our training dataset
forest.score(X_train.astype('int'), y_train.astype('int'))

0.917910447761194

In [26]:
print("Based on our random forest model we predict the price of weekends to be: {}\n".format(forest.predict(df1)))
print("The actual price for adult weekend for Big Mountain Ski Resort was: {}".format(df.iloc[151]['AdultWeekend']))

Based on our random forest model we predict the price of weekends to be: [ 89  89  89  89  89  89  89 250  89  89  89  89  89  89  89  89  89  89
  89  89  89  89  89  89  89  89  89  89  89  75  89  89  89  89  89  89
  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89
  89  89  89  89  89  89  89  89  89  89  89  89  89  75  89  89  89  89
  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89
  89 250  80  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89
  89  75  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89  89
  89  89  89  89  89  89  75  89  89  77  89  89  89  89  89  89  50  89
  89  89  75  77 250  89  89  89  89  75  89  89  77  89  89  89  89  89
  89  89  89  89  89  89  75  89  89  89  89  89  89  89  89  89  89]

The actual price for adult weekend for Big Mountain Ski Resort was: 81.0

In [27]:
#Show confusion matrix and accuracy score for the model on Test data
#from sklearn.metrics import confusion_matrix

#cm = confusion_matrix(y_test.astype('int'), forest.predict(X_test.astype('int')))

#TN = cm[0][0]
#TP = cm[1][1]
#FN = cm[1][0]
#FP = cm[0][1]

#print(cm)
#print('model testing accuracy: {}'.format(((TP + TN)/(TP + TN + FN + FP)) ))

In [28]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
#y_pred = model.predict(X_test)
#print(explained_variance_score(y_test, y_pred))

In [29]:
abs_val_without_state = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
abs_val_without_state.sort_values(by = 'Coefficient', ascending = False)

                    Coefficient
AdultWeekday       5.064612e+01
vertical_drop      7.137862e+00
daysOpenLastYear   5.885155e+00
Runs               5.714234e+00
projectedDaysOpen  4.973183e+00
summit_elev        3.628851e+00
quad               2.426527e+00
NightSkiing_ac     2.014103e+00
fastQuads          1.387386e+00
SkiableTerrain_ac  1.321318e+00
surface            1.096898e+00
TerrainParks       9.043960e-01
triple             9.035404e-01
averageSnowfall    9.024702e-01
double             8.813199e-01
Snow Making_ac     8.312368e-01
total_chairs       4.097130e-01
yearsOpen          3.669409e-01
LongestRun_mi      2.923495e-01
fastSixes          7.105427e-15
fastEight          5.329071e-15
trams              3.552714e-15

## Review the results

**<font color='teal'> Now, let's predict the Big Mountain Weekend price with our model in order to provide a recommendation to our managers on how to price the `AdultWeekend` lift ticket. First we need to find the row for Big Mountain resort in our data using string contains or string matching.</font>**

In [30]:
df_with_names = pd.read_csv(r'C:\\Users\\emanu\\updated_ski_data.csv')

In [31]:
df_with_names.columns

Index(['Name', 'Region', 'state', 'summit_elev', 'vertical_drop', 'base_elev',
       'trams', 'fastEight', 'fastSixes', 'fastQuads', 'quad', 'triple',
       'double', 'surface', 'total_chairs', 'Runs', 'TerrainParks',
       'LongestRun_mi', 'SkiableTerrain_ac', 'Snow Making_ac',
       'daysOpenLastYear', 'yearsOpen', 'averageSnowfall', 'AdultWeekday',
       'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac'],
      dtype='object')

In [32]:
df

,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,2600,1540,0,0,0,0,0,0,4,0,...,2.0,640,60,45,44,350,47.0,53.0,90,90
1,2090,294,0,0,0,0,0,1,0,2,...,1.0,30,30,150,36,69,30.0,34.0,152,30
2,11100,1800,0,0,0,1,2,3,1,0,...,1.2,800,80,115,49,250,74.0,78.0,104,80
3,7800,600,0,0,0,0,0,1,3,1,...,0.4,88,88,110,84,300,47.0,47.0,107,107
4,7700,500,0,0,0,1,1,3,1,2,...,1.0,380,200,150,54,400,49.0,49.0,150,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,8000,640,0,0,0,0,0,0,1,1,...,0.6,92,32,121,61,80,48.0,48.0,95,95
175,7428,810,0,0,0,0,0,1,1,1,...,1.0,184,18,61,81,310,42.0,42.0,77,77
176,7808,1571,0,0,0,0,1,1,1,0,...,1.0,400,250,121,80,300,59.0,59.0,123,110
177,9663,990,0,0,0,0,0,1,3,1,...,0.7,75,30,131,59,250,49.0,49.0,49,49
178,9500,1100,0,0,0,0,0,2,0,0,...,0.4,370,370,370,81,150,150.0,49.0,49,49

In [33]:
cols1 = df_with_names['Name']
cols2 = df_with_names['state']
df.insert(0 , 'Name', cols1)
df.insert(1 , 'state', cols2)

In [34]:
df['AdultWeekend']

0      53.0
1      34.0
2      78.0
3      47.0
4      49.0
       ...
174    48.0
175    42.0
176    59.0
177    49.0
178    49.0
Name: AdultWeekend, Length: 179, dtype: float64

In [35]:
(df[df['Name'].str.contains('Big Mountain')])['AdultWeekend']

151    81.0
Name: AdultWeekend, dtype: float64

In [36]:
df1 = (df[df['Name'].str.contains('Big Mountain')])

In [37]:
df1

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
151,Big Mountain Resort,Montana,3967,1967,0,0,0,2,0,2,...,4.0,260,156,156,82,250,81.0,81.0,81,81

In [38]:
model.predict(df1)

ValueError: could not convert string to float: 'Big Mountain Resort'

In [ ]:
model.score(X_test, y_test)

**<font color='teal'> Prepare the Big Mountain resort data row as you did in the model fitting stage.</font>**

In [ ]:
#model3 = model3.iloc[:,2:]
#df1 = df1.iloc[:, 2:]
df1.drop('AdultWeekend', axis = 1)

In [ ]:
#validate no missing data
df1.isna().sum()

In [ ]:
df.describe()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.concat([df, pd.get_dummies(df['state'])], axis=1)

In [ ]:
df

In [ ]:
#show all rows and columns
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#    df
#df_without_state_summit_elev_base_elev = df.iloc[:, 1:24]
#
#model3 = df_without_state_summit_elev_base_elev.drop(['summit_elev'], axis = 1)
#
#model3.bfill()

In [ ]:
#model3.bfill()
#model3.isnull().sum()

In [ ]:
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
#X = model3

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
#y = df.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
#scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
#X_scaled=scaler.transform(X)

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [ ]:
#all third model set
#from sklearn import linear_model
#from sklearn.metrics import explained_variance_score,mean_absolute_error
#lm = linear_model.LinearRegression()
#model = lm.fit(X_train, y_train)

In [ ]:
###I AM NOT SURE WHAT IS BEING ASKED HERE
#X = df1.drop('AdultWeekend', axis = 1)

In [ ]:
#X

In [ ]:
y

In [ ]:
#y = df.AdultWeekend

#scaler = preprocessing.StandardScaler().fit(X)

#X_scaled = scaler.transform(X)

In [ ]:
#X.shape

In [ ]:
#y.shape

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

**<font color='teal'> Predict the Big Mountain resort `Adult Weekend` price and print it out.</font>** This is our expected price to present to management. Based on our model given the characteristics of the resort in comparison to other ski resorts and their unique characteristics.

In [ ]:
model.predict(df1)

**<font color='teal'> Print the Big Mountain resort actual `Adult Weekend` price.</font>**

In [ ]:
(df[df['Name'].str.contains('Big Mountain')])['AdultWeekend']

**<font color='teal'> As part of reviewing the results it is an important step to generate figures to visualize the data story. We can use the clusters we added to our data frame to create scatter plots for visualizing the Adult Weekend values compared to other characteristics. Run the example below to get you started and build two or three more figures to include in your data story telling.</font>**

In [ ]:
df2 = pd.read_csv(r'C:\\Users\\emanu\\data\\step3_output.csv')

In [ ]:
df2.columns

In [ ]:
#Not really sure what ac is supposed to be
plt.scatter(df2['summit_elev'], df2['vertical_drop'], c=df2['clusters'], s=50, cmap='viridis', label ='clusters')
#plt.scatter(ac['summit_elev'], ac['vertical_drop'], c='black', s=100)
plt.xlabel('summit_elev')
plt.ylabel('vertical_drop')
plt.title('summit_elev by vertical_drop by cluster')
plt.savefig('figures/fig1.png',bbox_inches='tight')

In [ ]:
#Correlation between average snowfall and days open
plt.scatter(df2['daysOpenLastYear'], df2['averageSnowfall'], c=df2['clusters'], s=50, cmap='viridis', label ='clusters')
plt.xlabel('Days Open Last Year')
plt.ylabel('Average Snowfall')
plt.title('Days Open vs Average Snowfall by cluster')
plt.savefig('figures/Avg_Snow_Days_Open.png',bbox_inches='tight')

In [ ]:
#Correlation between total chairs availible and number of runs
plt.scatter(df2['total_chairs'], df2['Runs'], c=df2['clusters'], s=50, cmap='viridis', label ='clusters')
plt.xlabel('Total Chairs')
plt.ylabel('Runs')
plt.title('Total Chairs vs runs by cluster')
plt.savefig('figures/Total_chairs_runs.png',bbox_inches='tight')

In [ ]:
#figure out how the y distribution looks
import seaborn as sns
import matplotlib.pyplot as plt
plt.subplots(figsize = (30, 4))
sns.countplot(df['AdultWeekend'])

## Finalize Code

 Making sure our code is well organized and easy to follow is an important step. This is the time where you need to review the notebooks and Python scripts you've created and clean them up so they are easy to follow and succinct in nature. Addtionally, we will also save our final model as a callable object using Pickle for future use in a data pipeline. Pickle is a module that serializes (and de-serializes) Python objects so that they can become executable objects like functions. It's used extensively in production environments where machine learning models are deployed on an industrial scale!**<font color='teal'> Run the example code below to save out your callable model. Notice that we save it in the models folder we created in our previous guided capstone step.</font>**

In [ ]:
import pickle
s = pickle.dumps(model)
from joblib import dump, load
dump(model, 'models/regression_model_adultweekend.joblib')

## Finalize Documentation

For model documentation, we want to save the model performance metrics as well as the features included in the final model. You could also save the model perfomance metrics and coefficients fo the other models you tried in case you want to refer to them later. **<font color='teal'> Create a dataframe containing the coefficients and the model performance metrics and save it out as a csv file, then upload it to your github repository.</font>**

In [ ]:
abs_val_without_state.shape

In [ ]:
#arr = np.repeat(performance, len(abs_val_without_state) // len(performance))
#df['NewCol'] = pd.Series(arr, index=abs_val_without_state.index[:len(arr)])
#df

In [ ]:
#Trying another method for performance
performance_base = explained_variance_score(y_test, y_pred)

In [ ]:
#performance = pd.DataFrame(performance)

In [ ]:
performance_base

In [ ]:
#indices = df.index.values

In [ ]:
results = pd.DataFrame()
#labels = df['Target']
results['Random Forest Results'] = []

In [ ]:
results

In [ ]:
prediction_probability = forest_stats.predict_proba(X_test)

In [ ]:
prediction_probability

In [ ]:
df_test = pd.DataFrame(X_test)
df_test['Target'] = y_test
df_test['prob_0'] = prediction_probability[:,0] 
df_test['prob_1'] = prediction_probability[:,1]

In [ ]:
df_test

In [ ]:
df['AdultWeekend']

In [ ]:
y_train.count()

In [ ]:
#display all rows and columns of DataFrame
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
len(df_total.columns)

In [ ]:
df_total = df_total.drop('AdultWeekend', axis = 1)

In [ ]:
df_total = df.iloc[:, 2:25]

In [ ]:
model.predict(df_total)

In [ ]:
prediction_probab_model = model.predict_proba(X_test)

In [ ]:
df_new = results.copy()

df_new.loc[indices_test,'pred_test'] = prediction_probability # df.predict_proba(X_test)
print(df_new)
#forest_stats = pd.DataFrame(forest_stats)

In [ ]:
forest_stats

In [ ]:
#not sure how to turn RandomForest object into DataFrame!!
forest_stats.predict_proba(X_test).shape

In [ ]:
model.score(X_test, y_test)

In [ ]:
forest_stats.score(X_test, y_test)

In [ ]:
reshaped_df = np.reshape(forest_stats.predict_proba(X_test), (22, 1))

In [ ]:
abs_val_without_state.shape

In [ ]:
#trying to get everything to fit into a DataFrame!!
#coef_performance_df = pd.concat((abs_val_without_state, forest_stats ), axis = 1)

In [ ]:
# success rate of a model would get by randomly guessing
print(explained_variance_score(y_test, y_pred))

In [ ]:
# not sure how to add performance metrics to my model, here is an attempt
#from sklearn import model_selection
#kfold = model_selection.KFold(n_splits=10, random_state=7)
#results = model_selection.cross_val_score(model, X.astype('int'), y.astype('int'), cv=kfold, scoring='accuracy')
#print("Accuracy: %.3f (%.3f)") % (results.mean(), results.std())

#from sklearn.metrics import adjusted_mutual_info_score
#from sklearn.metrics import max_error
#import sklearn.metrics
#sklearn.metrics.accuracy_score(y_train, model.predict(df1), *, normalize=True, sample_weight=None)[source]
#max_error(y_train, y_test)
#sklearn.metrics.adjusted_mutual_info_score(labels_true, labels_pred, *, average_method='arithmetic')